*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
/* header */
header{
    height: 80px;
    width: 100%;
    background-color: rgb(2, 2, 56);
    display: inline-block;
}
.logo{
    display: inline-block;
    color: aliceblue;
    padding-top: 20px;
    padding-left: 20px;
}
nav{
    display: inline-block;
}

header li{
    display: inline-block;
    font-size: 20px;
    padding-right: 40px;
}
header ul{
    margin-left: 225px;
    padding-top: -20px;
}
header a{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    color: rgb(136, 18, 175);
}
/* content */

section{
    color: rgb(35, 33, 74);
    padding-left: 50px;
}
.social-media{
    height: 80px;
    padding-top: 40px;
}

img{
    height: 60px;
    width: 160px;
    border: 2px solid  rgba(100, 95, 95, 0.023);
    border-radius: 20px;
    box-shadow: 4px 4px 2px 0.5px rgba(0, 0, 0, 0.2);
    margin: 0px 15px 0px 0px;
}
.sectionH1{
    padding-top: 40px;
}
.description{
    margin-top: 60px;
}
button{
    margin-top: 40px;
    height: 60px;
    width: 200px;
    border-radius: 30px;
    border: 1px solid goldenrod;
    color: goldenrod;

}
section a{
    color: goldenrod;
    text-decoration: none;
    text-size-adjust: 40px;
}
footer{
    height: 240px;
    width: 100%;
    background-color: rgb(11, 11, 22);
    margin-top: 40px;
}
footer h2{
    color: white;
    padding-top: 20px;
    padding-left: 40px;
}
footer .lists{
    padding-left: 40px;
    margin-bottom: 10px;
}
footer ul{
    display: inline;
    list-style: none;
    text-decoration: none;

}
footer li>a{
    color: white;
    text-decoration: none;
}
li.sub{
    margin-left: 20px;
}
